.icon{
    display: inline-block;
    height: 1em;
    width: 1em;

    background-image: url("../Assets/icon/icons-round-maps.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}