.icon{
    display: inline-block;
    height: 2em;
    width: 2em;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.icon__maps{
    background-image: url("../Assets/icon/icons-round-maps.svg");
}