:root{
    --Mobile__padding: 1.875rem; /*Mobile ansicht padding variabl*/
    --logo__width: 10.25rem; /*Logo width*/
    --navigation__height: 2.5rem; /* navigation class "container" section */
}
html{
    font-family: 'Lato', sans-serif;
}

.page__navigation{
    background-color: #d6d7d8;
    padding-top: var(--Mobile__padding);
    padding-bottom: var(--Mobile__padding);
}
.container{
    padding-left: var(--Mobile__padding);
    padding-right: var(--Mobile__padding);
}
.page__navigation__logo{
    height: var(--navigation__height);
}
.page__navigation__buttons-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    list-style: none;
    flex: 1 0 auto;
}
.page__navigation__button{
    display: block;
    border: 0.05rem solid #00355F;
    border-radius: 1.1875rem;
    text-decoration: none;
    color: #00355F;
    padding: 0.2rem 1rem;
    font-size: 15px;
    line-height: 1.4rem;
    text-align: center;
    font-weight: 500;
    height: 1.5rem;
}

.page__navigation__button-socials{
    display: block;
    text-align: center;
    height: 2rem;
}
.page__navigation-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}