:root{
    --Mobile__padding: 1rem; /*Mobile ansicht padding variabl*/
    --logo__width: 10.25rem; /*Logo width*/
    --navigation__height: 2.5rem; /* navigation class "container" section */
    --container-max-wdith: 1100px; /*max width container */
    --text-color: #b0c0cd;
    --text-hover-color: #e6ebef;
    --primary-background-color: #001d34;
    --primary-hover-button: #b0c0cd;
}
html{
    font-family: 'Lato', sans-serif;
}

.page__navigation{
    background-color: var(--primary-background-color);
    padding-top: var(--Mobile__padding);

}
.container{
    padding-left: var(--Mobile__padding);
    padding-right: var(--Mobile__padding);
    max-width: var(--container-max-wdith);
    margin: 0px auto;
}
.page__navigation__logo{
    height: var(--navigation__height);
    padding-left: 0px;
    padding-right: 0px;
    width: 7rem;
}
.page__navigation__buttons-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    list-style: none;
}
.page__navigation__button{
    display: block;
    border: 0.05rem solid #00355F;
    border-radius: 1.1875rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.2rem 0.8rem;
    font-size: 15px;
    line-height: 1.4rem;
    text-align: center;
    font-weight: 500;
    height: 1.5rem;
}
.page__navigation__button:hover{
    color: var(--primary-hover-button);
    background-color: var(--primary-background-color);
    border-color: var(--primary-hover-button);
}
.page__navigation__button-socials{
    display: block;
    text-align: center;
    height: 2rem;
}
.page__navigation-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page__navigation__menu-container{
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: var(--Mobile__padding);
}
.page__navigation__menu-list{
    list-style-type: none;
    display: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.page__navigation__menu-item{
    text-decoration: none;
    color: var(--text-hover-color);
    align-items: center;
    font-size: 1rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-weight: 400;
}
.page__navigation::after{
    display: block;
    content: "";
    height: 0.5rem;
    background: linear-gradient(to right, #511edd, #0c60a5, #7f1e9c, #185f18);
}

.header{
    background-image: url(../Assets/img/unslesh.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.flex-test{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.header__profile-img{
    display: block;
    background: linear-gradient(to left, #833a28, #08b1cf38);
    background-position: 50% 50%;
    height: 10rem;
    width: 10rem;
    border-radius: 3rem 3rem 3rem 3rem;
    margin: 0px auto;
}
.header__me-name{
    color: var(--text-color);
    text-align: center;
    margin-bottom: 0rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 0.3rem #000202;
}
.header__me-doing{
    color: var(--text-color);
    margin-top: 0rem;
    padding-top: 1rem;
    margin-bottom: 0px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 0 0 0.4rem #000000;
}
.header__info-txt{
    margin: 0px;
    text-align: left;
    color: var(--sub-text-color);
    font-weight: 300;
    margin-bottom: 2rem;
}
.header__info{
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: .95rem;
    text-shadow: 0 0 0.02rem #0e4049;
}
.header__profile-img-container{
    flex-direction: column;
}
.header__info-container{
    display: block;
    text-align: center;
}
.button{
    display: inline-block;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    background: linear-gradient(to right, #133c5cec, #7a2c07);
    border-radius: 5rem;
    box-shadow: 0 0 0.2rem #245a86;
}
.hero__button:hover{
    background: linear-gradient(to right, #2f6894ec, #441804);
    color: var(--text-color);
    box-shadow: 0 0 0.3rem #08b1cf;
    transition: box-shadow 0.5s ease-in-out, background 0.5s ease-in-out, linear 0.5s ease-in-out;
}


@media screen and (min-width: 860px) {
    .page__navigation__menu-list{
        display: flex;
    }
    .page__navigation__menu-item:hover{
        font-size: 1rem;
        color: var(--primary-hover-button);
    }
    .header__profile-img{
        display: inline-block;
        margin: 0px;
        background: linear-gradient(to left, #833a28, #08b1cf38);
        background-position: 50% 50%;
        height: 15rem;
        width: 15rem;
        border-radius: 3rem 0rem 3rem 3rem;
    }
    .flex-test{
        flex-direction: row-reverse;
        text-align: left;
        align-items: center;
        justify-content: space-between;
    }
    .header__profile-img-container{
        flex-direction: row;
    }
    .header__profile-img{
        max-width: 100%;
    }
    .header__me-name{
        margin-top: 0px;
        text-align: left;
        font-size: 3rem;
    }
    .header__me-doing{
        padding-top: 0px;
        text-align: left;
        font-size: 2rem;
    }
    .header__info-txt{
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
    .header__info{
        display: none;
    }
}

