:root{
    --Mobile__padding: 1.875rem; /*Mobile ansicht padding variabl*/
    --logo__width: 10.25rem; /*Logo width*/
    --navigation__height: 2.5rem; /* navigation class "container" section */
}

.page_navigation{
    background-color: #c6ced4;
    padding-top: var(--Mobile__padding);
    padding-bottom: var(--Mobile__padding);
}
.container{
    height: var(--navigation__height);
}
.logo{
    width: var(--logo__width);
}
