$primary: #0c4261;
$section-padding: 120px;
$section-padding-responsive: 60px;
$paddin-bottom: 1.5rem;
$title-color: #62909f;
$subtitle-color: #b0c0cd;

$content-font-size: 1.2rem;

@import "../lib/bootstrap-5.3.2/scss/bootstrap";

.page-header{
    background-image: url("../Assets/img/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    @include media-breakpoint-up(sm){
        .page-header{
            background-image: none;
        }
    }
}

.navbar{
    background: linear-gradient(199deg, #172329 50%, #1b1a1a 70%);
    border-radius: 1rem;

}
.sticky-top {
    top: 0.5rem;
}

.navbar-toggler{
    border: 1px solid #466574;
}
.navbar-toggler-icon{
    color: #7f65d2;
}
.navbar-toggler:hover {
    border: none;
}
.navbar-brand {
    color: #7f65d2;
    text-transform: capitalize;
}

.nav-item .nav-link{
    color: $subtitle-color;
    font-size: 1.2rem;
    font-weight: 300;
}

.nav-item .nav-link:hover {
    color: #bcbfce;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: $primary;
}
.heading-title{
    color: $title-color;
}
.subtitle{
        color: $subtitle-color;
        padding-bottom: $paddin-bottom;

}
.header-jumbotron{
    padding-top: 30px;
    height: 600px;
    padding-bottom: 100px;
    margin: 0;
    color: $primary;

    h2{
        font-weight: 400;
    }
    .btn-outline-primary{
        color: $white;
        font-weight: 200;
    }

    @include media-breakpoint-up(xs) {
        .size-text{
            font-weight: 400;
            font-size: 2rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
        }
        .p-texting{
            font-size: 1.9rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        .size-text{
            font-size: 3.5rem;
        }
    }
}
.services{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background: linear-gradient(20deg, #000000, #424646);
    z-index: 999;
    color: $title-color;

    .col-sm {
            border-radius: 1rem;
            box-shadow: 0px 0px 1px 0px $title-color;
            padding: 1.5rem;
            color: #bcbfce;
    }
    .service_icon{
        width: 100px;
        text-align: center;
        margin: 0px auto;
        padding-bottom: $paddin-bottom;

        img{
            width: 100%;
        }
    }
    .container .col-sm p {
        padding-top: 2rem;
    }

    @include media-breakpoint-up(xs) {
        padding-top: $section-padding-responsive;
        padding-bottom: $section-padding-responsive;
        .row{
            padding: 0 1rem;
        }
    }
}

/*
.aboutme-liste{
    background: linear-gradient(to right,
    $white 0%, transparent, 
    $white calc(50% - 1px),
    transparent, 
    red calc(50% - 1px),  
    red calc(50% + 1px),
    transparent, 
    $white calc(50% + 1px), 
    $white 100% 
    );
}
*/
.aboutme {
    width: 100vw;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background: linear-gradient(90deg, rgb(44, 45, 46), #000000);
    .aboutme-content-text{
        color: $subtitle-color;
        font-size: $content-font-size;
        font-weight: 100;
    }
    .subtitle{
        color: #445a64;
    }
    .aboutme_content-text{
        margin-bottom: 0;

    }
    .aboutme_image {
        border-radius: 50%;
        width: 100%;
        object-fit: cover;
        box-shadow: 0 0 1px 0 $title-color;
    }
    .container .heading-title{
        margin: 0;
    }
    @include media-breakpoint-up(md) {
        padding-top: $section-padding-responsive;
    }

    @include media-breakpoint-up(mx) {
        padding-top: $section-padding-responsive;
    }

}