$primary: #0c4261;
$section-padding: 120px;
$section-padding-responsive: 60px;
$paddin-bottom: 1.5rem;
$title-color: #62909f;
$subtitle-color: #b0c0cd;

@import "../lib/bootstrap-5.3.2/scss/bootstrap";


.page-header{
    background-image: url("../Assets/img/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    @include media-breakpoint-up(sm){
        .page-header{
            background-image: none;
        }
    }
}


.navbar-toggler{
    border: 1px solid #466574;
}
.navbar-toggler-icon{
    color: #7f65d2;
}
.navbar-toggler:hover {
    border: none;
}
.navbar-brand {
    color: #7f65d2;
    text-transform: capitalize;
}

.nav-item .nav-link {
    color: #acadb2;
    font-size: 1.2rem;
    font-weight: 300;
}

.nav-item .nav-link:hover {
    color: #bcbfce;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: $primary;
}

.header-jumbotron{
    padding-top: 30px;
    height: 600px;
    padding-bottom: 100px;
    margin: 0;
    color: $primary;

    h2{
        font-weight: 400;
    }
    .btn-outline-primary{
        color: $white;
        font-weight: 200;
    }

    @include media-breakpoint-up(xs) {
        .size-text{
            font-weight: 400;
            font-size: 2rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
        }
        .p-texting{
            font-size: 1.9rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        .size-text{
            font-size: 3.5rem;
        }
    }
}
.services{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: #001d34;
    color: $title-color;

    .col-sm {
            border-radius: 1rem;
            box-shadow: 2px 2px 2px 0px #00080a;
            padding: 1.5rem;
            color: #bcbfce;
    }
    .service_icon{
        width: 100px;
        text-align: center;
        margin: 0px auto;
        padding-bottom: $paddin-bottom;

        img{
            width: 100%;
        }
    }
    .subtitle {
        color: $subtitle-color;
        padding-bottom: $paddin-bottom;

    }
    .container .col-sm p {
        padding-top: 2rem;
    }

    @include media-breakpoint-up(xs) {
        padding-top: $section-padding-responsive;
    }
}
